anyio==3.5.0
asgiref==3.5.0
attrs==21.4.0
cffi==1.15.0
click==8.0.4
cryptography==36.0.1
databases==0.5.5
fastapi~=0.75.0
greenlet==1.1.2
h11==0.13.0
importlib-resources==5.4.0
inflection==0.5.1
jsonschema==4.4.0
mysqlclient==2.1.0
openapi==1.1.0
passlib==1.7.4
pycparser==2.21
pydantic==1.9.0
PyJWT==2.3.0
PyMySQL==1.0.2
pyrsistent==0.18.1
python-dotenv==0.19.2
sniffio==1.2.0
SQLAlchemy==1.4.32
starlette==0.17.1
typing_extensions==4.1.1
uvicorn==0.17.5
zipp==3.7.0
cloudinary==1.29.0
requests~=2.25.1
